<!DOCTYPE HTML>
<html>
<head>
    <title>Gwent</title>
    <meta charset='utf-8'>
    <link rel="stylesheet" href="/public/css/style.css">
</head>
<body>
    <div id="players">
        <div id="player1" class="player"></div>
        <div id="player2" class="player"></div>
    </div>
    <div id="board"></div>
    <div id="hint"></div>

    <script src="/socket.io/socket.io.js"></script>
    <script src="/public/js/game.js"></script>
</body>
</html>